<%= form_with(model:[food, food_comment], local: false) do |f| %>
  <div style="display: flex;">
    <%= f.text_area :body, rows:'5', placeholder: "コメントをしましょう！",style: "width: 93%; height: 50px;" %>
    <%= button_tag type: "submit", style: "width: 7%;  border: 1px solid #FFA07A; background-color: #FFA07A;"  do %>
      <i style="color: white;"class="fa-regular fa-paper-plane"></i>
    <% end %>
  </div>
<% end %>