<div class="row">
  <table class="table table-borderless">
    <tr>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>フォロー中</th>
      <td></td>
    </tr>
    <tr>
      <th>フォロワー</th>
      <td></td>
    </tr>
  </table>
</div>

