<div class="row">
  <table class="table table-borderless">
    <tr>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>フォロー中</th>
      <td></td>
    </tr>
    <tr>
      <th>フォロワー</th>
      <td></td>
    </tr>
  </table>
</div>

<div class = "row" >
  <% if current_user == user %>
    <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary btn-block' do %>
    <i class="fa-solid fa-user-gear"></i>
    <% end %>
  <% end %>
</div>